@mixin font-face($font-family, $font-path, $font-weight: normal, $font-style: normal) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("#{$font-path}.woff2") format("woff2"),
    url("#{$font-path}.woff") format("woff"),
    url("#{$font-path}.ttf") format("truetype");
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }
}

@mixin resetStyles {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}

@mixin focusReset {
  &:focus {
    outline: none;
  }
}

@mixin resetButton {
  @include resetStyles;
  @include focusReset;
}

@mixin resetInput {
  @include resetStyles;
  @include focusReset;
}

@mixin resetList {
  @include resetStyles;
  list-style-type: none;
}

// Media queries
@mixin retina {
  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    @content
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content
  }
}

@mixin laptop {
  @media (max-width: $laptop) {
    @content
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content
  }
}

@mixin transition($properties...) {
  $transition-duration: var(--transition-duration);
  $transition-function: var(--transition-function);

  @if length($properties) == 1 {
    transition: $properties $transition-duration $transition-function;
  } @else {
    transition-property: $properties;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-function;
  }
}
