.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, .8);
  width: 100%;
  height: 100%;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  @include transition(opacity);

  &--opened {
    opacity: 1;
    pointer-events: auto;
  }

  &__close {
    position: fixed;
    top: 25px;
    right: 25px;
    display: block;
    mask: url("data:image/svg+xml,%3Csvg role='presentation' class='t-popup__close-icon' width='23px' height='23px' viewBox='0 0 23 23' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='%23fff' fill-rule='evenodd'%3E%3Crect transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ' x='10.3137085' y='-3.6862915' width='2' height='30'%3E%3C/rect%3E%3Crect transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ' x='10.3137085' y='-3.6862915' width='2' height='30'%3E%3C/rect%3E%3C/g%3E%3C/svg%3E");
    background-color: #fff;
    width: 23px;
    height: 23px;
    @include transition(opacity);

    &:hover {
      opacity: .6;
    }
  }

  &__body {
    margin: 65px auto;
    padding: 40px;
    max-width: 560px;
    min-height: 300px;
    background-color: #fff;
  }

  &__feedback {
    &-wrap {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 24px;
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    gap: 11px;
    align-items: center;
    text-align: center;
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.23;
  }

  &__description {
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.55;
  }

  &__form {
    &-wrap {}

    &-input {
      display: block;
      padding: 20px;
      border: 1px solid #c9c9c9;
      border-radius: 5px;
      outline: none;
      height: 60px;
      width: 100%;
      font-size: 16px;
      line-height: 1.33;
      color: #000000;
    }

    &-submit {
      width: 100%;
    }
  }

  // Product
  // .modal-product
  &-product {
    background-color: #fff;

    &__back {
      position: fixed;
      top: 25px;
      left: 25px;

      display: flex;
      align-items: center;

      &::before {
        content: 'â† ';
        white-space: pre;
        font-family: Arial, Helvetica, sans-serif;
      }
    }

    &__body {
      max-width: 1240px;
    }
  }

  &-product>&__close {
    background-color: #000;
  }
}
